[submodule "kd-tree-samples/common/externals/stb"]
	path = kd-tree-samples/common/externals/stb
	url = https://github.com/nothings/stb.git
[submodule "kd-tree-samples/common/externals/tinyobjloader"]
	path = kd-tree-samples/common/externals/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
