[submodule "kd-tree-samples/common/externals/stb"]
	path = kd-tree-samples/common/externals/stb
	url = https://github.com/nothings/stb.git
[submodule "kd-tree-samples/common/externals/tinyobjloader"]
	path = kd-tree-samples/common/externals/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "kd-tree-samples/common/externals/tinyxml2"]
	path = kd-tree-samples/common/externals/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "kd-tree-samples/common/externals/glfw"]
	path = kd-tree-samples/common/externals/glfw
	url = https://github.com/glfw/glfw
[submodule "kd-tree-samples/common/externals/owl"]
	path = kd-tree-samples/common/externals/owl
	url = https://github.com/owl-project/owl.git
